In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('.../Evictions.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69806 entries, 0 to 69805
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Court Index Number         69806 non-null  object
 1   Docket Number              69806 non-null  int64
 2   Eviction Address           69806 non-null  object
 3   Eviction Apartment Number  58087 non-null  object
 4   Executed Date              69806 non-null  object
 5   Marshal First Name         69806 non-null  object
 6   Marshal Last Name          69806 non-null  object
 7   Residential/Commercial     69806 non-null  object
 8   BOROUGH                    69806 non-null  object
 9   Eviction Postcode          69806 non-null  int64
 10  Ejectment                  69806 non-null  object
 11  Eviction/Legal Possession  69806 non-null  object
 12  Latitude                   63093 non-null  float64
 13  Longitude                  63093 non-null  float64
 14  Community Board            63093 non-null  float64
 15  Council District           63093 non-null  float64
 16  Census Tract               63093 non-null  float64
 17  BIN                        62967 non-null  float64
 18  BBL                        62967 non-null  float64
 19  NTA                        63093 non-null  object
dtypes: float64(7), int64(2), object(11)
memory usage: 10.7+ MB

In [3]:
# Checking for Duplicate Rows
df.duplicated().sum()

187

In [4]:
# Removing Duplicate Rows
df = df.drop_duplicates()

In [5]:
# Double Checking Duplicated Rows 
df.duplicated().sum()

0

In [6]:
# Changing Column Names to Proper Naming Conventions
df.columns = list(map(lambda x: x.replace(' ', '_'), df.columns))
# Establishing Consistant Data for Null Values
df.replace(to_replace=['','nan','NaN',None], value=np.nan, inplace=True)
# Checking for duplicate rows
df.isnull().sum()

Court_Index_Number               0
Docket_Number_                   0
Eviction_Address                 0
Eviction_Apartment_Number    11689
Executed_Date                    0
Marshal_First_Name               0
Marshal_Last_Name                0
Residential/Commercial           0
BOROUGH                          0
Eviction_Postcode                0
Ejectment                        0
Eviction/Legal_Possession        0
Latitude                      6695
Longitude                     6695
Community_Board               6695
Council_District              6695
Census_Tract                  6695
BIN                           6821
BBL                           6821
NTA                           6695
dtype: int64

In [7]:
# First Creating ids for Marshals to protect Identities
df['Marshal_id'] = pd.factorize(df.Marshal_First_Name+df.Marshal_Last_Name)[0]

In [8]:
# Getting Rid of Unnecessary Data 
df = df.drop(['Docket_Number_','Eviction_Apartment_Number',
         'Marshal_First_Name','Marshal_Last_Name','Census_Tract','BIN','BBL'], axis = 1)

In [9]:
# Querying DataFrame for Rows that have non-null Longtitude and Latitude Values 
df = df.query('(Latitude == Latitude)')
# Checking if Query Was Successful by Checking if Latitude Column Contains Any Null Values 
df["Latitude"].isnull().sum()

0

In [10]:
# Fixing DateTime Data Type Issues 
df['Executed_Date'] =  pd.to_datetime(df['Executed_Date'],format='%m/%d/%Y')
# Creating New Data From DataTime Column
df['Year'] = df['Executed_Date'].dt.year
df['Month'] = df['Executed_Date'].dt.month
df['Day'] = df['Executed_Date'].dt.day
df['Weekday'] = df['Executed_Date'].dt.day_name()

In [11]:
df.isnull().sum()

Court_Index_Number           0
Eviction_Address             0
Executed_Date                0
Residential/Commercial       0
BOROUGH                      0
Eviction_Postcode            0
Ejectment                    0
Eviction/Legal_Possession    0
Latitude                     0
Longitude                    0
Community_Board              0
Council_District             0
NTA                          0
Marshal_id                   0
Year                         0
Month                        0
Day                          0
Weekday                      0
dtype: int64

In [12]:
# Saving externally as XLSX File
df.to_excel('.../Evictions.xlsx',header=df.columns,index=False,index_label=df.columns)